
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <h1>Create Product</h1>
    <hr/>
    <form method="post">
        <div>
            <input type="text" name="ID" />
        </div>
        <div>
            <input type="text" name="ProductName" />
        </div>
        <div>
            <input type="text" name="UnitPrice" />
        </div>
        <button type="submit">Create Product</button>
    </form>
</body>
</html>
