
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <h1>Create Category</h1>
    <hr />
    <form method="post">
        <div>
            <input type="text" name="ID" />
        </div>
        <div>
            <input type="text" name="CategoryName" />
        </div>
        <button type="submit">Create Category</button>
    </form>
</body>
</html>