
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <h1>Create Supplier</h1>
    <hr />
    <form method="post">
        <div>
            <input type="text" name="ID" />
        </div>
        <div>
            <input type="text" name="CompanyName" />
        </div>
        <div>
            <input type="text" name="Address" />
        </div>
        <button type="submit">Create Supplier</button>
    </form>
</body>
</html>
